/*
    Colores:
        #112A6C - Azul fuerte
        #015184 - Azul medio
        #5A90BF - Azul claro
        #CEA273 - Carnita
        #E8E9EB - Fondo
*/

body{
    background-color:#E8E9EB ;
    font-family: 'DM sans';
    
}

.navbar-customization{
    background-color: #112A6C !important;
    
}

.hero{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 70% 30%;
    height: 800px;

}


.principal{
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 186px 50px auto;
}

.principal *{
    margin: 0px;
    padding: 0px;
}

#nick > h1{
    font-family: staatliches;
    font-size: 190px;
    color: #112A6C;
    
}
#nick{
    margin-left: 10px;
}
#nombre > h2{
    font-family: 'DM sans';
    font-size: 40px;
    color: #11296cbb;
}
#nombre{
    margin-left: 13px;
}
#imagen > img{
    width: 700px;
    border-radius: 30px;
}
#imagen{
    padding: 0px 13px 13px 13px;
    padding-top: 0px;
}

.centrador{
    display: flex;
    justify-content: center;
    height: 560px;
    width: 650px;
    align-items: center;
}

#datos{
    width: 550px;
    background-color: #015184;
    border-radius: 13px;
}
#datos > h2{
    text-align: center;
    padding: 13px;
    color: #CEA273;
    
}

p{
    font-size: 16px;
    text-align: justify;
    background-color: #015184;
    color: #e8e9eb;
    padding: 13px;
    border-radius: 0px 0px 13px 13px;
}

#logotipo{
    float: left;
    width: 200px;
    margin-top: 20px;
}

@media(max-width: 1216px){
    .hero{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
    
    #yo{
        width: 200px;
    }
    .principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 500px;
        grid-area: 1/1/1/1;
    }
    #nick > h1{
    font-family: staatliches;
    font-size: 90px;
    color: #112A6C;
    
    }
    #nick{
        margin-left: 10px;
    }
    #nombre > h2{
        font-family: 'DM sans';
        font-size: 20px;
        color: #11296cbb;
    }
    #nombre{
        margin-left: 13px;
    }
}